@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    height: 100vh;
    background-color: #edf2f8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    position: relative;
}
h1, h2, h3, h5, h6 {
    color: #48556a;
}
h4 {
    color: hsl(212, 23%, 69%);
}
p {
    color: #6d7f97;
}

main {
    width: 730px;
    height: 280px;
    background-color: #fff;    
    border-radius: 1em;
    display: flex;
    position: relative;
}
picture .img {
    background-image: url(../images/drawers.jpg);
    background-position: left;
    background-size: cover;
    width: 285px;
    height: 100%;
    border-radius: 1em 0 0em 1em;
    
}
.main-content {
   display: flex;
   flex-direction: column;
}
.main-content .text-content {
    padding: 40px 40px 20px 40px;
}
.main-content .text-content h2 {

    font-size: 1.6em;
}
.main-content .text-content>p {
    margin-top: 20px;
}
.desktop-view {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.desktop-view .michelle{
    display: flex;
}

.desktop-view .michelle img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.desktop-view .michelle .michelle-text {
    margin-left: 15px;
}
.desktop-view .michelle .michelle-text h4 {
    color: #48556a;
}
.share-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf2f8;     
    user-select: none;
    
}
.active {
    display: flex!important;
}
.pop-up {
    position: absolute;
    top: 45%;
    right: -71px;
    padding: 20px 35px;
    width: 250px;
    height: 55px;
    border-radius: 1em;
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #48556a;
      
}
.pop-up::after {
    position: absolute;
    bottom: -39px;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: #48556a transparent transparent;
}

.mobile-view {
    display: none;
}


footer {
    position: absolute;
    bottom: 0;
}

